* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#434343), to(#000000));
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(255, 255, 250, 0.9);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style-type: none;
}

.btn {
  cursor: pointer;
  background-color: rgba(255, 255, 250, 0.9);
}

header {
  height: 5%;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.3);
  position: fixed;
  z-index: 100;
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

header nav #links {
  background-color: #000;
  width: 50%;
  height: 100vh;
  z-index: 100;
}

header nav #links .nav {
  height: 40%;
}

header nav #links .nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav #links .nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #links .socials {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav #links .socials a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  text-align: center;
}

main {
  max-width: 95%;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}

h1 {
  padding: 5% 0;
}

h2 {
  padding: 5% 0;
}

.showcase {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: rgba(255, 255, 250, 0.9);
}

.showcase .video-cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.showcase:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.showcase video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase .home {
  z-index: 10;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase .home-social {
  margin-top: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 50vh;
  max-width: 100vw;
}

.journey-container .img-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.journey-container .img-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.journey-container .img-container:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.journey-container .journey-content {
  z-index: 10;
}

.blogs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs-content {
  position: relative;
  min-height: 150px;
  max-height: 30%;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.3);
  margin: 5% 0;
}

.blogs-content a {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs-content:first-of-type {
  background-image: url("../assets/blog1 jordan-whitfield-sm3Ub_IJKQg-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.blogs-content:first-of-type::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.blogs-content:nth-of-type(2) {
  background-image: url("../assets/blog2 martin-shreder-5Xwaj9gaR0g-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.blogs-content:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.blogs-content:last-of-type {
  background-image: url("../assets/blog3 amanda-jones-w5zpEiVtNIk-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.blogs-content:last-of-type::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.blogs-content h3,
.blogs-content p {
  z-index: 2;
}

.journey h2,
.blogs h2 {
  letter-spacing: 0.5rem;
}

.tech-stack .techs {
  position: relative;
  min-height: 150px;
  max-height: 30%;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.3);
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-stack .techs a {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-stack .techs:first-of-type {
  background-image: url("../assets/ruby.png");
  background-size: cover;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tech-stack .techs:first-of-type::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tech-stack .techs:nth-of-type(2) {
  background-image: url("../assets/HTML5_Logo_512.png");
  background-size: cover;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tech-stack .techs:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tech-stack .techs:nth-of-type(3) {
  background-image: url("../assets/CSS.3.svg");
  background-size: cover;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tech-stack .techs:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tech-stack .techs:last-of-type {
  background-image: url("../assets/sass-1.svg");
  background-size: cover;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tech-stack .techs:last-of-type::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tech-stack .techs h3,
.tech-stack .techs p {
  z-index: 5;
  padding: 1% 0;
}

.tech-stack .techs .fa-star,
.tech-stack .techs .fa-star-half-alt {
  color: gold;
}

.terminal-proj .vid-container {
  max-width: 100vw;
  max-height: 50%;
}

.terminal-proj .vid-container video {
  width: 100%;
  height: 50%;
}

.other-projs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-projs .projects {
  position: relative;
  min-height: 150px;
  max-height: 30%;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.3);
  margin: 5% 0;
  min-height: 300px;
  max-width: 70%;
}

.other-projs .projects a {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-projs .projects .card {
  max-height: 40%;
  width: 100%;
}

.other-projs .projects .card img {
  max-height: 100%;
  width: 100%;
}

.other-projs .projects .card-cont {
  height: 60%;
  width: 100%;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact form {
  height: 55%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(179, 179, 179, 0.3);
  border-radius: 5px;
}

.contact form label,
.contact form input,
.contact form textarea {
  display: block;
}

.contact form input,
.contact form textarea {
  padding: 2%;
  width: 70%;
  border-radius: 5px;
}

.contact form textarea {
  width: 80%;
}
/*# sourceMappingURL=styles.css.map */