.terminal-proj {
    .vid-container {
        max-width: 100vw;
        max-height: 50%;

        video {
            width: 100%;
            height: 50%;
        }
    }
}

.other-projs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .projects {
        // anchor whole card
        @include mobile-cards;
        min-height: 300px;
        max-width: 70%;

        .card {
            max-height: 40%;
            width: 100%;

            img {
                max-height: 100%;
                width: 100%;
            }
        }

        .card-cont {
            height: 60%;
            width: 100%;
        }
    }
}
