.intro {
    padding: $padding-s;
}

.tech-stack {
    .techs {
        // anchor whole card
        @include mobile-cards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:first-of-type {
            background-image: url("../assets/ruby.png");
            @include bg-image;
            @include tech-bg;
        }

        &:nth-of-type(2) {
            background-image: url("../assets/HTML5_Logo_512.png");
            @include bg-image;
            @include tech-bg;
        }

        &:nth-of-type(3) {
            background-image: url("../assets/CSS.3.svg");
            @include bg-image;
            @include tech-bg;
        }

        &:last-of-type {
            background-image: url("../assets/sass-1.svg");
            @include bg-image;
            @include tech-bg;
        }

        .tech-cont {
            z-index: 5;
            width: 100%;

            h3,
            p {
                padding: $padding-xs;
            }
        }

        .fa-star,
        .fa-star-half-alt {
            color: gold;
        }
    }
}
