$heading-colour: #fff;
$overlay-colour: rgba(0, 0, 0, 0.7);
$nav-bg-colour: #000;
$content-colour: hsla(60, 100%, 99%, 0.9);
$placeholder-colour: hsla(0, 0%, 70%, 0.3);

//Mixins
@mixin mobile-cards {
    min-height: 150px;
    max-height: 30%;
    width: 100%;
    background-color: $placeholder-colour;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
