// keyframes

// Fade out animation for mobile and tablet navbar when clicked and unclicked.
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
// Fade in animation for all texts when loaded.
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Shine feature animation for each tech stack when hovered.
@keyframes shine {
    100% {
        left: 125%;
    }
}

// Rolling text animation for index.html subheading
@keyframes rolling-text {
    0% {
        top: 0px;
    }
    15% {
        top: 0px;
    }
    20% {
        top: -36px;
    }
    35% {
        top: -36px;
    }
    40% {
        top: -74px;
    }
    55% {
        top: -74px;
    }
    60% {
        top: -110px;
    }
    75% {
        top: -110px;
    }
    80% {
        top: -148px;
    }
    95% {
        top: -148px;
    }
    100% {
        top: 0px;
    }
}
