.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: height 1s;

    .socials {
        display: flex;
        justify-content: space-evenly;
    }

    form {
        height: 500px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $placeholder-colour;
        border-radius: 5px;
        box-shadow: 10px 5px 0px rgba(0, 0, 0, 0.75);

        label,
        input,
        textarea {
            display: block;
        }

        input,
        textarea {
            padding: 2%;
            width: 70%;
            border-radius: 5px;
        }
        input[type="submit"] {
            width: 20%;
            min-width: 100px;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);

            &:hover {
                background-color: black;
                color: #fff;
            }
        }
    }
}
