@media screen and (min-width: 1024px) {
    // General
    p,
    a,
    input,
    textarea,
    button {
        font-size: 1.2rem;
    }

    // Fill footer with social icon links on desktop view.
    footer {
        display: flex;
        flex-direction: column-reverse;

        .desktop-only {
            padding: $padding-xs;
            width: 50%;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
        }
    }

    .desktop-hidden {
        display: none;
    }

    // Disables hamburger navigation on dekstop view.
    // Establish navbar links on top of the page with simple hover animations.
    header nav {
        .nav-cont {
            padding: 0;
            padding-left: 1%;
            flex: 1;
        }

        .links-shown {
            display: block;
            flex: 3;
            width: auto;
            height: auto;
            background-color: inherit;

            .desktop-hidden {
                display: none;
            }

            .nav {
                height: 100%;

                ul {
                    flex-direction: row;
                    li {
                        a {
                            border-bottom: 0px;
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                z-index: -1;
                                left: 51%;
                                right: 51%;
                                bottom: 0;
                                background: #fff;
                                height: 4px;
                                transition-property: left, right;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-out;
                                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
                            }
                            &:hover {
                                background-color: $hovered-colour;
                            }
                            &:hover:before,
                            &:focus:before,
                            &:active:before {
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
        .hidden {
            * {
                animation: fade-in 3s forwards;
            }
        }
    }

    main {
        padding-top: 5%;
    }

    // About me page

    // Added colorize and float animation to each blog posts when hovered.
    .journey-container {
        max-width: 1000px;
        margin: 0 auto;

        .img-container:after {
            content: none;
        }

        .journey-content {
            max-width: 100%;
            background-color: $overlay-colour;

            h2 {
                padding: $padding-s;
            }
            p {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
    .blogs {
        .blogs-content {
            filter: grayscale(1) blur(3px);
            transition: filter 1s, transform 1s;

            &:hover {
                filter: unset;
                transform: translateY(-50px);
            }
        }
    }

    // Tech Stack Page
    // Added scale(zoom-in) and shine animation to tech stack when hovered.
    .tech-stack {
        margin: 5% 0;
        .techs {
            position: relative;
            overflow: hidden;
            transition: transform 0.5s;

            &::before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 10;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                transform: skewX(-25deg);
            }

            &:hover {
                // animation: zoom 0.5s forwards;
                transform: scale(1.3);

                &::before {
                    animation: shine 2s 0.5s;
                }
            }
        }
    }

    // Projects Page
    // Added float animation to each projects when hovered.
    #projects {
        .other-projs {
            .projects {
                transition: transform 1s;
                &:first-of-type {
                    &:hover {
                        transform: translate(-60px, -60px);
                    }
                }
                &:nth-of-type(2) {
                    &:hover {
                        transform: translate(-60px, 60px);
                    }
                }
                &:nth-of-type(3) {
                    &:hover {
                        transform: translate(60px, -60px);
                    }
                }
                &:last-of-type {
                    &:hover {
                        transform: translate(60px, 60px);
                    }
                }
            }
        }
    }
}
