$heading-colour: #fff;
$overlay-colour: rgba(0, 0, 0, 0.7);
// $overlay-colour-dark: rgba(0, 0, 0, 0.8);
$nav-bg-colour: #000;
$content-colour: hsla(60, 100%, 99%, 0.9);
$placeholder-colour: hsla(0, 0%, 70%, 0.3);
$padding-xs: 1% 0;
$padding-s: 2% 0;
$padding-m: 5% 0;
$hovered-colour: #000;
$heading-font: "Raleway", sans-serif;
$content-font: "Ubuntu", sans-serif;

//Mixins
@mixin mobile-cards {
    position: relative;
    min-height: 150px;
    max-height: 30%;
    width: 100%;
    background-color: $placeholder-colour;
    margin: 5% 0;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@mixin bg-image {
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $overlay-colour;
    }
}

@mixin tech-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin center-with-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
